In [15]:
from requests import get
url = 'https://www.imdb.com/title/tt1621748/episodes?season=1'
response = get(url)

In [2]:
from bs4 import BeautifulSoup
html_soup = BeautifulSoup(response.text, 'html.parser')

In [3]:
# find containers for series of season 1
episode_containers = html_soup.find_all('div', class_='info')

# check length of the list
print(len(episode_containers))

14

In [4]:
# explore the first container in the list
print(episode_containers[0].a['title'])
print(episode_containers[0].meta['content'])
print(episode_containers[0].find('div', class_='airdate').text.strip())
print(episode_containers[0].find('span', class_='ipl-rating-star__rating').text)
print(episode_containers[0].find('span', class_='ipl-rating-star__total-votes').text.strip('()'))
print(episode_containers[0].find('div', class_='item_description').text.strip())

Pilot
1
4 Mar. 2011
7.3
139
A young man helps supernatural creatures adapt to life in the city.

## Ugly Americans

In [5]:
import pandas as pd
import numpy as np

# create a loop to iterate through seasons

# create a list for a season loop
ugly_americans = []

# run a loop through 2 seasons
for season in range(1, 3):
    # request a page from the server
    url = 'https://www.imdb.com/title/tt1621748/episodes?season=' + str(season)
    response = get(url)
    # parse response with Beatiful Soup
    html_soup = BeautifulSoup(response.text, 'html.parser')
    # find all episode containers
    episode_containers = html_soup.find_all('div', class_='info')
    # internal loop to collect data from episode containers
    for e in episode_containers:
        serie_name = 'Ugly Americans'
        season = season
        title = e.a['title']
        nmb = e.meta['content']
        date = e.find('div', class_='airdate').text.strip()
        rating = e.find('span', class_='ipl-rating-star__rating').text
        total_votes = e.find('span', class_='ipl-rating-star__total-votes').text.strip('()')
        description = e.find('div', class_='item_description').text.strip()
        episode_data = [serie_name, season, title, nmb, date, rating, total_votes, description]
        # append to a list
        ugly_americans.append(episode_data)
print(ugly_americans[6])

['Ugly Americans', 1, 'Kong of Queens', '7', '29 Apr. 2010', '7.3', '80', "As Mark struggles to find employment for a giant ape with OCD, Callie tries to resist Twayne's advances at a Demon Convention in Atlantic City."]

In [6]:
# convert list of lists to dataframe
column_names = ['serie_name', 'season', 'title', 'nmb', 'date', 'rating', 'total_votes', 'description']
ugly_americans = pd.DataFrame(ugly_americans, columns=column_names)
ugly_americans.head()

,serie_name,season,title,nmb,date,rating,total_votes,description
0,Ugly Americans,1,Pilot,1,4 Mar. 2011,7.3,139,A young man helps supernatural creatures adapt...
1,Ugly Americans,1,An American Werewolf in America,2,24 Mar. 2010,7.3,113,Mark tries to teach a Werewolf and its victim ...
2,Ugly Americans,1,Demon Baby,3,31 Mar. 2010,7.6,105,Callie goes baby-crazy after Mark starts foste...
3,Ugly Americans,1,Blob Gets Job,4,7 Apr. 2010,7.3,95,"While staying with Randall's parents, Mark acc..."
4,Ugly Americans,1,Treegasm,5,12 Apr. 2010,7.2,99,Mark meets a pair of creatures who are expecte...

## Rick and Morty

In [7]:
# create a list for a season loop
rick_and_morty = []

# run a loop through 2 seasons
for season in range(1, 6):
    # request a page from the server
    url = 'https://www.imdb.com/title/tt2861424/episodes?season=' + str(season)
    response = get(url)
    # parse response with Beatiful Soup
    html_soup = BeautifulSoup(response.text, 'html.parser')
    # find all episode containers
    episode_containers = html_soup.find_all('div', class_='info')
    # internal loop to collect data from episode containers
    for e in episode_containers:
        serie_name = 'Rick and Morty'
        season = season
        title = e.a['title']
        nmb = e.meta['content']
        date = e.find('div', class_='airdate').text.strip()
        rating = e.find('span', class_='ipl-rating-star__rating').text
        total_votes = e.find('span', class_='ipl-rating-star__total-votes').text.strip('()')
        description = e.find('div', class_='item_description').text.strip()
        episode_data = [serie_name, season, title, nmb, date, rating, total_votes, description]
        # append to a list
        rick_and_morty.append(episode_data)
print(rick_and_morty[6])

['Rick and Morty', 1, 'Raising Gazorpazorp', '7', '10 Mar. 2014', '8.0', '11,461', 'Morty becomes a father to an alien baby, while Rick and Summer get trapped in a dangerous dimension.']

In [11]:
# convert list of lists to dataframe
column_names = ['serie_name', 'season', 'title', 'nmb', 'date', 'rating', 'total_votes', 'description']
rick_morty = pd.DataFrame(rick_and_morty, columns=column_names)
rick_morty.tail()

,serie_name,season,title,nmb,date,rating,total_votes,description
46,Rick and Morty,5,Rick & Morty's Thanksploitation Spectacular,6,25 Jul. 2021,7.2,"6,500","In this Thanksgiving episode, Rick and Morty n..."
47,Rick and Morty,5,Gotron Jerrysis Rickvangelion,7,1 Aug. 2021,6.4,"6,199",Summer enables Rick's addiction to collecting ...
48,Rick and Morty,5,Rickternal Friendshine of the Spotless Mort,8,8 Aug. 2021,8.4,"6,230",Rick attempts to save a beloved friend.
49,Rick and Morty,5,Forgetting Sarick Mortshall,9,5 Sep. 2021,8.5,"4,973","Rick gets new sidekicks, while Morty makes a n..."
50,Rick and Morty,5,Rickmurai Jack,10,5 Sep. 2021,9.5,"8,245",Rick is living his best anime life. Meanwhile ...

## What We Do in the Shadows

In [16]:
# create a list for a season loop
shadows = []

# run a loop through 2 seasons
for season in range(1, 4):
    # request a page from the server
    url = 'https://www.imdb.com/title/tt7908628/episodes?season=' + str(season)
    response = get(url)
    # parse response with Beatiful Soup
    html_soup = BeautifulSoup(response.text, 'html.parser')
    # find all episode containers
    episode_containers = html_soup.find_all('div', class_='info')
    # internal loop to collect data from episode containers
    for e in episode_containers:
        serie_name = 'What We Do in the Shadows'
        season = season
        title = e.a['title']
        nmb = e.meta['content']
        date = e.find('div', class_='airdate').text.strip()
        rating = e.find('span', class_='ipl-rating-star__rating').text
        total_votes = e.find('span', class_='ipl-rating-star__total-votes').text.strip('()')
        description = e.find('div', class_='item_description').text.strip()
        episode_data = [serie_name, season, title, nmb, date, rating, total_votes, description]
        # append to a list
        shadows.append(episode_data)
print(shadows[5])

['What We Do in the Shadows', 1, "Baron's Night Out", '6', '6 Feb. 2020', '8.9', '2,207', 'The Baron awakens from his slumber and demands to experience the wonders of the New World in a night out in the town.']

In [17]:
# convert list of lists to dataframe
column_names = ['serie_name', 'season', 'title', 'nmb', 'date', 'rating', 'total_votes', 'description']
shadows = pd.DataFrame(shadows, columns=column_names)
shadows.tail()

,serie_name,season,title,nmb,date,rating,total_votes,description
25,What We Do in the Shadows,3,The Escape,6,30 Sep. 2021,8.8,986,An ancient beast escapes and threatens the exi...
26,What We Do in the Shadows,3,The Siren,7,7 Oct. 2021,7.8,762,Two travelers are shipwrecked and a doll runs ...
27,What We Do in the Shadows,3,The Wellness Center,8,14 Oct. 2021,8.5,843,Nandor is persuaded to reject vampirism and pu...
28,What We Do in the Shadows,3,A Farewell,9,21 Oct. 2021,8.7,756,Colin has a birthday and a vampire says goodbye.
29,What We Do in the Shadows,3,The Portrait,10,28 Oct. 2021,8.9,815,The housemates grieve the loss of one of their...

## Black Mirror

In [18]:
# create a list for a season loop
mirror = []

# run a loop through 2 seasons
for season in range(1, 4):
    # request a page from the server
    url = 'https://www.imdb.com/title/tt2085059/episodes?season=' + str(season)
    response = get(url)
    # parse response with Beatiful Soup
    html_soup = BeautifulSoup(response.text, 'html.parser')
    # find all episode containers
    episode_containers = html_soup.find_all('div', class_='info')
    # internal loop to collect data from episode containers
    for e in episode_containers:
        serie_name = 'Black Mirror'
        season = season
        title = e.a['title']
        nmb = e.meta['content']
        date = e.find('div', class_='airdate').text.strip()
        rating = e.find('span', class_='ipl-rating-star__rating').text
        total_votes = e.find('span', class_='ipl-rating-star__total-votes').text.strip('()')
        description = e.find('div', class_='item_description').text.strip()
        episode_data = [serie_name, season, title, nmb, date, rating, total_votes, description]
        # append to a list
        mirror.append(episode_data)
print(mirror[5])

['Black Mirror', 2, 'The Waldo Moment', '3', '21 Oct. 2016', '6.6', '37,039', 'A failed comedian who voices a popular cartoon bear named Waldo finds himself mixing in politics when TV executives want Waldo to run for office.']

In [20]:
# convert list of lists to dataframe
column_names = ['serie_name', 'season', 'title', 'nmb', 'date', 'rating', 'total_votes', 'description']
mirror = pd.DataFrame(mirror, columns=column_names)
mirror.tail()

,serie_name,season,title,nmb,date,rating,total_votes,description
8,Black Mirror,3,Playtest,2,21 Oct. 2016,8.1,"44,479",An American traveler short on cash signs up to...
9,Black Mirror,3,Shut Up and Dance,3,21 Oct. 2016,8.5,"46,237",When withdrawn Kenny stumbles headlong into an...
10,Black Mirror,3,San Junipero,4,21 Oct. 2016,8.6,"55,900","When Yorkie and Kelly visit San Junipero, a fu..."
11,Black Mirror,3,Men Against Fire,5,21 Oct. 2016,7.6,"34,515",Future soldiers Stripe and Raiman must protect...
12,Black Mirror,3,Hated in the Nation,6,21 Oct. 2016,8.5,"39,566","In near-future London, police detective Karin ..."

## Sealab 2021

In [21]:
# create a list for a season loop
sealab = []

# run a loop through 2 seasons
for season in range(1, 6):
    # request a page from the server
    url = 'https://www.imdb.com/title/tt0278877/episodes?season=' + str(season)
    response = get(url)
    # parse response with Beatiful Soup
    html_soup = BeautifulSoup(response.text, 'html.parser')
    # find all episode containers
    episode_containers = html_soup.find_all('div', class_='info')
    # internal loop to collect data from episode containers
    for e in episode_containers:
        serie_name = 'Sealab 2021'
        season = season
        title = e.a['title']
        nmb = e.meta['content']
        date = e.find('div', class_='airdate').text.strip()
        rating = e.find('span', class_='ipl-rating-star__rating').text
        total_votes = e.find('span', class_='ipl-rating-star__total-votes').text.strip('()')
        description = e.find('div', class_='item_description').text.strip()
        episode_data = [serie_name, season, title, nmb, date, rating, total_votes, description]
        # append to a list
        sealab.append(episode_data)
print(sealab[5])

['Sealab 2021', 1, 'Predator', '5', '16 Sep. 2001', '7.4', '86', "A bloodthirsty, killer alien has boarded Sealab, and trapped the entire crew. His shimmering form is seemingly everywhere, rending flesh from human bones, as the remaining survivors cower on the bridge. Once again, it's up to the brave Dr. Quinn (with a little help from Old Gus and Dolphin Boy) to save the day."]

In [23]:
# convert list of lists to dataframe
column_names = ['serie_name', 'season', 'title', 'nmb', 'date', 'rating', 'total_votes', 'description']
sealab = pd.DataFrame(sealab, columns=column_names)
sealab.tail()

,serie_name,season,title,nmb,date,rating,total_votes,description
48,Sealab 2021,5,Shrabster,4,28 Mar. 2005,7.2,41,Quinn creates a hybrid crustacean to reproduce...
49,Sealab 2021,5,Cavemen,5,4 Apr. 2005,6.7,37,Quinn and Stormy are stranded in an underwater...
50,Sealab 2021,5,Moby Sick,6,11 Apr. 2005,6.8,40,Quinn is faced with a dilemma after being appr...
51,Sealab 2021,5,No Waterworld,7,18 Apr. 2005,6.9,37,The water surrounding Sealab suddenly disappea...
52,Sealab 2021,5,Legacy of Laughter,8,25 Apr. 2005,6.3,38,The series finale done as an interview special...

In [32]:
# merge dataframes
series = pd.concat([ugly_americans, rick_morty, mirror, sealab], ignore_index=True)
series.iloc[29]

serie_name                                        Ugly Americans
season                                                         2
title                                            The Dork Knight
nmb                                                           16
date                                                18 Apr. 2012
rating                                                       7.9
total_votes                                                   48
description    Mark becomes a masked crimefighter and wages w...
Name: 29, dtype: object

In [37]:
# get rid of comma separators in total_votes column
series['total_votes'] = series['total_votes'].str.replace(',', '')

# convert several columns to numeric
cols = ['nmb', 'rating', 'total_votes']
series[cols] = series[cols].apply(pd.to_numeric)

AttributeError: Can only use .str accessor with string values!

In [38]:
series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   serie_name   148 non-null    object
 1   season       148 non-null    int64
 2   title        148 non-null    object
 3   nmb          148 non-null    int64
 4   date         148 non-null    object
 5   rating       148 non-null    float64
 6   total_votes  148 non-null    int64
 7   description  148 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 9.4+ KB

In [39]:
series['date'] = pd.to_datetime(series['date'])

In [42]:
series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   serie_name   148 non-null    object
 1   season       148 non-null    int64
 2   title        148 non-null    object
 3   nmb          148 non-null    int64
 4   date         148 non-null    datetime64[ns]
 5   rating       148 non-null    float64
 6   total_votes  148 non-null    int64
 7   description  148 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(3), object(3)
memory usage: 9.4+ KB